{%- comment -%}
	Badge to display how many items are in the customer's cart
	
	Accepts:
	- item_count: {Number} number of items in the cart
	
	Usage:
	{%- render 'cart-count-icon', item_count: cart.item_count -%}

{%- endcomment -%}
<span class="cart-count position-absolute top-0 start-100 d-flex align-items-center justify-content-center translate-middle badge rounded-pill{% if item_count == 0 %} d-none{% endif %}" data-header-count data-cart-count>
	{{- item_count | default: 0 -}}
</span>