{%- comment -%}
	Loader icon used on dynamic sections in PDP

	Usage:
	{%- render 'dynamic-section-loader' -%}
{%- endcomment -%}
<div class="container-fluid" data-loading-bar>
	<div class="row h-100 justify-content-center align-items-center">
		<div class="col-3 col-md-2 col-lg-1">
			<div class="loading-tiles">
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
				<div class="square"></div>
			</div>
		</div>
	</div>
</div>