{%- comment -%}
	Cheat to make PurgeCSS allow some classes to avoid purging

	Usage:
	!NOT MEANT TO BE RENDERED
	!DO NOT RENDER

{%- endcomment -%}

{%- comment -%}
	# IDs
{%- endcomment -%}
<div id="shopify-section-product-form"></div>
<div id="offcanvasMobileMenu"></div>
<div id="collapsePrice"></div>
<div id="quickShopModal"></div>
<div id="insta-feed"></div>

{%- comment -%}
	# Classes
{%- endcomment -%}
<div class="
	template-cart
	section-cart
	section-cart-page-upsell
	section-product
	shopify-product-form
	bs-tooltip-auto
	tooltip-arrow
	tooltip-inner
	product-dot-tooltip-menu
	col-lg-3
	col-6
	col-md-4
	mb-1
	mb-lg-0
	inner-dot
	align-items-start
	align-items-center
	align-items-end
	align-items-lg-start
	align-items-lg-center
	align-items-lg-end
	ps-xl-5
	pe-sm-5
	justify-content-start
	justify-content-center
	justify-content-end
	justify-content-lg-start
	justify-content-lg-center
	justify-content-lg-end
	section-featured-collections
	section-collection-merchandising-slider
	section-featured-products
	section-shop-the-look-slider
	tooltip-dot-container-offset
	bs-tooltip-auto
	collection-grid
	collection-grid-item
	collection-grid-item-title
	collection-grid-item-image
	product-grid
	shop-the-look-slider
	tooltip
	shop-the-look-tooltip-menu
	product-dot-tooltip-menu
	template-trade-program
	template-vendor
	section-contact-form
	ms-4
	ms-3
	ms-2
	ms-1
	ms-sm-0
	ms-lg-0
	d-sm-block
	badge
	badge-outline
	tag-with-icon
	d-xxl-none
	row-cols-lg-3
	g-lg-custom
	col-8
	col-lg
	d-md-flex
	d-md-none
	col-md
	row-cols-md-2
	ms-md-0
	g-md-4
	badge
	badge-outline
	tag-with-icon
	image-slide
	slider-custom-nav-buttons
	nav-button
	previous
	next
	m-1
	flex-wrap
	flex-lg-wrap
	mx-4
	section-header
	announcement-bar
	col-9
	container-xl
	flickity-enabled
	upsell-enable-flickity
	upsell-overflow-slider
	flex-nowrap
	shopify-block
	shopify-app-block
	cca-app
	cca-app-wrapper
	cca-app-form
	cca-app-form-full-width
	cca-app-input-wrapper
	cca-app-input
	cca-app-submit-button
	cca-app-button-copy
	cca-app-button-loader
	cca-app-spinner
	cca-app-messenger
  	gap-1
	gap-2
	gap-3
	gap-4
	gap-5
	gap-6
	gap-7
	gap-8
	position-fixed
	bg-white
	p-lg-3
	mb-2
	px-lg-4
	pb-lg-3
	mark
	order-mobile-natural
	order-mobile-reverse
	order-desktop-natural
	order-desktop-reverse
	layout-linear
	layout-grid-3-by-row
	show-top-heading-mobile
	show-top-heading-desktop
	recurring-sections
	section-follow-us-social
	flickity-button
	flickity-page-dots
	filter-form
	col-xl-5
	col-xl-7
	ms-xxl-1
	ps-lg-5
	ms-lg-2
	ps-xl-3
	ms-xl-4
	ps-xxl-2
	ms-xxl-3
	gallery-thumbnails
	is-selected
	is-nav-selected 
	col-lg-5
	col-xxl-4
	col-xxl-6
	section-product-per-sq-ft
	template-per-sq-ft
	section-product-add-on
	template-alt
	product-rating
	text-wrapper
	loading
	collection-cards-section
	finance-partners-section
	template-financing
	section-image-copy-blocks
	template-404
	section-careers-positions
	modal-xl
	shopify-challenge__container
	h-captcha
	shopify-challenge__button
	animated-link
	loading-tiles
	square
	start-animation-center
	start-animation
	start-animation-end
	no-animation
	thumb-selected
	thumb-variant-selected
	gallery-wrapper
	block-wrapper
	gx-lg-7
	px-sm-0
	gx-lg-custom
	text-truncate
	template-password
	countdown-wrapper
	progress-bar
	gap-lg-3
	w-50
	gap-3
"></div>

{%- comment -%}
	# Classes for Proxy App
{%- endcomment -%}
<div class="card card-header card-body card-text badge rounded-pill text-bg-light"></div>
