<div id="shopTheLookOffCanvas" class="offcanvas offcanvas-end px-lg-6" tabindex="-1" aria-labelledby="shopTheLookOffCanvas">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="shopOffCanvasLabel">Shop the Look</h5>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><span class="visually-hidden">Close</span></button>
	</div>
	<hr>
	<div class="offcanvas-body container px-lg-1" data-shop-body>
	</div>
</div>