<div class="col-12 col-lg-6 col-xl-5">
	{%- content_for 'blocks' -%}
</div>
{% schema %}
{
	"name": "Finance Partner Block",
	"tag": null,
	"settings": [],
	"blocks": [
		{
			"type": "_partner-logo"
		},
		{
			"type": "_partner-heading"
		},
		{
			"type": "_partner-copy"
		},
		{
			"type": "_partner-fine-copy"
		},
		{
			"type": "_two-buttons"
		}
	],
	"presets": [
		{
			"name": "Finance Partner Block"
		}
	]
}
{% endschema %}