<div class="main-404 d-flex flex-column align-items-center">
	<div class="pt-4">
		<p>{{ 'general.404.name' | t }}</p>
	</div>
	<h1>{{ 'general.404.not_found' | t }}</h1>
	<a href="{{ routes.all_products_collections_url }}" class="btn btn-outline-primary">{{ 'general.404.continue' | t }}</a>
</div>