{%- comment -%} IMPORTANT: This section is used by AJAX Load API {%- endcomment -%}
{{ 'product-form.css' | asset_url | stylesheet_tag }}
<div class="product-wrapper{% if product.template_suffix == 'per-sq-ft' %} section-product-per-sq-ft{% endif %}" data-section-id="{{ section.id }}" data-section-type="productQuickShop">
	{%- liquid
		assign current_variant = product.selected_or_first_available_variant
		assign alternate = false
		
		if product.template_suffix == 'per-sq-ft'
			assign alternate = true
		endif
	-%}
	<div id="productContainer" class="container pt-lg-3">
		<div class="row">
			<div class="col-12 col-lg-5">
				<div class="gallery-wrapper row flex-lg-row-reverse align-items-lg-center">
					{%- render 'product-gallery' with product as product -%}
				</div>
			</div>
			<div class="col-12 col-lg-7">
				<div class="pt-4 pt-lg-0">
					{%- render 'tag-label', tags: product.metafields.theme.featured_tags.value, wrapper_classes: 'pb-2' -%}
					<h2 class="h1 mt-2 mb-lg-4 mt-lg-0 no-animation">{{ product.title }}</h2>
				</div>
				{%- render 'product-form' with product as product, 
					current_variant: current_variant,
					alternate: alternate
				-%}
			</div>
		</div>
		<script type="application/json" data-product-json>{{ product | json }}</script>
		{%- comment -%} Render variant inventory quantities {%- endcomment -%}
		{%- render 'variants-extra-data', with product as product -%}
	</div><!-- .container -->
</div>
{% schema %}
{
	"name": "Quick Shop",
	"tag": "section",
  	"class": "quickshop-section",
	"settings": [
		{
			"type": "header",
			"content": "General Settings"
		},
		{
			"type": "checkbox",
			"id": "overage",
			"label": "Enable Overage?",
			"default": true,
			"info": "Dropdown options are shown based on product overage options metafield values"
		}
	],
	"blocks": [
		{
			"type": "preorder",
			"name": "Pre-order Options",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Countdown"
				},
				{
					"type": "checkbox",
					"id": "progress_bar",
					"label": "Enable Pre-order progress bar?",
					"default": true,
					"info": "Enable pre-order progress bar"
				},
				{
					"type": "text",
					"id": "countdown_label",
					"label": "Progress bar label",
					"default": "Pre-order price ends in..."
				},
				{
					"type": "color",
					"id": "progress_bg_color",
					"label": "Progress bar bg color",
					"default": "#FFF8E6"
				},
				{
					"type": "color",
					"id": "progress_border_color",
					"label": "Progress bar border color",
					"default": "#184A3E"
				}
			]
		},
		{
			"type": "atc",
			"name": "Add to Cart Button",
			"limit": 1
		},
		{
			"type": "sample-atc",
			"name": "Add Sample to Cart Button",
			"limit": 1
		},
		{
			"type": "options",
			"name": "Product Options",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Product variant options/selectors",
					"info": "Required block"
				}
			]
		},
		{
			"type": "quantity",
			"name": "Product Quantity",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Product page quantity input",
					"info": "Required block"
				}
			]
		},
		{
			"type": "price",
			"name": "Product Price",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Extra Price Options",
					"info": "Price per unit and unit per box will be displayed bellow product gallery on mobile, and next to price on desktop"
				},
				{
					"type": "checkbox",
					"id": "enable_price_unit",
					"label": "Enable Price Per Unit",
					"info": "This value is shown based on current variant price per unit metafield, changes per variant",
					"default": true	
				},
				{
					"type": "checkbox",
					"id": "enable_tiles_box",
					"label": "Enable Tiles Per Box",
					"info": "This value is shown based on current product tiles per box metafield",
					"default": true	
				}
			]
		},
		{
			"type": "boxes",
			"name": "Preview Boxes",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Preview current selected options",
					"info": "Required block, Ships in and Warranty info will be shown on preview box only on desktop"
				}
			]
		},
		{
			"type": "total-price",
			"name": "Total Price",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Total Price",
					"info": "Total price that shows before add to cart buttons on mobile and on the right side on desktop"
				}
			]
		},
		{
			"type": "rating",
			"name": "Product Rating",
			"settings": [
				{
					"type": "header",
					"content": "Settings",
					"info": "Star reviews will only appear if the product has a valid rating set up, using product rating metafield"
				},
				{
					"type": "color",
					"id": "star_color",
					"label": "Icons Color",
					"default": "#FD6908"
				},
				{
					"type": "range",
					"id": "star_size",
					"min": 1.5,
					"max": 2.5,
					"step": 0.1,
					"label": "Stars Size",
					"default": 1.7,
					"info": "Increase or decrease stars icons size for desktop view"
				},
				{
					"type": "select",
					"id": "star_alignment",
					"label": "Star Alignment",
					"options": [
						{
							"value": "flex-start",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "flex-end",
							"label": "Right"
						}
					],
					"default": "flex-start"
				}
			]
		},
		{
			"type": "description",
			"name": "Description"
		},
		{
			"type": "ship",
			"name": "Ships In",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Ships In",
					"info": "This value can be shown based on product ships in metafield"
				},
				{
					"type": "text",
					"id": "ship_value",
					"label": "Ships in value"
				}
			]
		},
		{
			"type": "lead-time",
			"name": "Lead Time",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Lead Time",
					"info": "This value can be shown based on product lead time metafield"
				},
				{
					"type": "text",
					"id": "lead_value",
					"label": "Lead time value"
				}
			]
		},
		{
			"type": "warranty",
			"name": "Warranty",
			"limit": 1,
			"settings": [
				{
					"type": "inline_richtext",
					"id": "copy",
					"label": "Copy"
				}
			]
		}
	],
	"default": {
		"blocks": [
			{
				"type": "price"
			},
			{
				"type": "rating"
			},
			{
				"type": "preorder"
			},
			{
				"type": "description"
			},
			{
				"type": "options"
			},
			{
				"type": "quantity"
			},
			{
				"type": "boxes"
			},
			{
				"type": "ship"
			},
			{
				"type": "lead-time"
			},
			{
				"type": "warranty"
			},
			{
				"type": "total-price"
			},
			{
				"type": "atc"
			},
			{
				"type": "sample-atc"
			}
		]
	},
 	"disabled_on": {
    	"templates": ["*"],
		"groups": ["*"]
	}
}
{% endschema %}