.wishlist-header-link .wkh-button {
    --icon-size: 19px;
    --icon-fill: transparent;
    --icon-stroke: #000000;
    --icon-stroke-width: 1.6px;
    --counter-size: 15px;
    display: flex;
    position: relative;
}

.wishlist-header-link .wkh-button.wkh-selected {
    --icon-fill: black;
}

.wishlist-header-link .wkh-icon svg {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    overflow: visible;
    pointer-events: none;
 }
  
.wishlist-header-link .wkh-icon svg path {
    fill: var(--icon-fill);
    stroke: var(--icon-stroke);
    stroke-width: var(--icon-stroke-width);
    vector-effect: non-scaling-stroke;
}
  
.wishlist-header-link .wkh-counter {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--counter-size);
    height: var(--counter-size);
    border-radius: calc(var(--counter-size) / 2);
    font-size: 11px;
    line-height: 1;
    background: black;
    color: white;
    position:  absolute;
    top: 25px;
    right: 5px;
    display: none;
}

.wishlist-header-link .wkh-selected .wkh-counter {
    opacity: 1;
    transition: .2s opacity;
}